.container {
    margin-left: 0;
    margin-right: -50px !important;  
}
.picture {
    width: 130px;
    height: 130px; 
}

.card-body {
    font-size: 10px !important;
    padding: 5px !important; 
}

